{% extends '::frontend.html.twig' %} 
{% block title %}Cupon, cada día ofertas increíbles en tu ciudad con descuentos de hasta el 90%{% endblock %} 
{% block id 'portada' %} 
{% block article %}

	{% include 'OfertaBundle:Default:includes/oferta.html.twig' %}
	
	
	<section class="estado">
	    <div class="tiempo">
	        <strong>Faltan</strong>: {{ oferta.fechaExpiracion | date() }}
	    </div>
	    <div class="compras">
	        <strong>Compras</strong>: {{ oferta.compras }}
	    </div>
	    <div class="faltan">
	        {% set faltan = oferta.umbral - oferta.compras %} 
	        {% if faltan > 0 %} 
	            Faltan <strong>{{ faltan }} compras</strong><br/> para activar la oferta 
	        {% else %}
	            <strong>Oferta activada</strong> por superar las <strong>{{ oferta.umbral }}</strong> compras necesarias 
	        {% endif %}
	    </div>
	</section>

{% endblock %} 

{% block aside %} 
## FORMULARIO DE LOGIN ##
<section id="nosotros">
    <h2>Sobre nosotros</h2>
    <p>Lorem ipsum dolor sit amet...</p>
</section>
{% endblock %}