{% extends '::backend.html.twig' %}

{% block article %}
    <h1>Oferta creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('oferta') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
